
<h1>YouTube API 3.0 Test</h1>




<label> <input id="query" type="text"/><button id="search-button" onclick="keyWordsearch()">Search</button></label>

<div id="container">
   <h1>Search Results</h1>
   <ul id="results"></ul>
 </div>


<ul id="results"></ul>


<ul id="html5"></ul>


<!-- <form method="post">
    <input id="input" type="text" name="video" autocomplete="off">
    <input id="format" type="hidden" name="format" value="mp3">
    <input id="button" type="submit" value="Convert">
   </form> -->


   <!-- <div id="banner-wrapper" style="display: block;">
      <a href="ya/" rel="nofollow" target="_blank">Download</a>
     </div> -->
