<div class="gmHeader-Main">
  <div class="row">
  <form class="col s12">
    <div class="row">
      <div class="col s6 right">
      </div>
    </div>
  </form>
</div>
</div>

<div class="gmBody">

  <nav>
  <div class="nav-wrapper">
    <form>
      <div class="input-field">
        <!-- <input id="query" placeholder="Search..." class="gmQuery" type="text"/><button id="search-button" class="gmMainSearchButton" onclick="keyWordsearch()">Search</button> -->
        <input id="query" type="search" onsearch="keyWordsearch(event)" onsearch="return false">
        <label for="search"><i class="material-icons">search</i></label>
        <i class="material-icons">close</i>
      </div>
    </form>
  </div>
</nav>
  <input id="query" placeholder="Search..." class="gmQuery" type="text"/><button id="search-button" class="gmMainSearchButton" onclick="keyWordsearch()">Search</button>
  <!-- <div class="row">
    <div class="col s3">
      <div class="card hoverable small">
          <div class="card-image">
            <img src="/assets/img/1.png">
            <span class="card-title">Card Title</span>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
    </div>
    <div class="col s3">
      <div class="card hoverable small">
          <div class="card-image">
            <img src="/assets/img/1.png">
            <span class="card-title">Card Title</span>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
    </div>
    <div class="col s3">
      <div class="card hoverable small">
          <div class="card-image">
            <img src="/assets/img/1.png">
            <span class="card-title">Card Title</span>
          </div>
          <div class="card-content">
            <p>I am a very simple card</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
    </div>
    <div class="col s3">
      <div class="card hoverable small">
          <div class="card-image">
            <img src="/assets/img/1.png">
            <span class="card-title">Card Title</span>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
    </div>
  </div>









  <div class="row">
    <div class="col s3">
      <div class="card hoverable small">
          <div class="card-image">
            <img src="/assets/img/1.png">
            <span class="card-title">Card Title</span>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
    </div>
    <div class="col s3">
      <div class="card hoverable small">
          <div class="card-image">
            <img src="/assets/img/1.png">
            <span class="card-title">Card Title</span>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
    </div>
    <div class="col s3">
      <div class="card hoverable small">
          <div class="card-image">
            <img src="/assets/img/1.png">
            <span class="card-title">Card Title</span>
          </div>
          <div class="card-content">
            <p>I am a very simple card</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
    </div>
    <div class="col s3">
      <div class="card hoverable small">
          <div class="card-image">
            <img src="/assets/img/1.png">
            <span class="card-title">Card Title</span>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
    </div>
  </div> -->



</div>
<div class="leftsideNav">

</div>



<!--
<div class="container">
  <div class="row">
    <div class="col s6">
      <div class="gmVideoHolder">
      </div>
   </div>
    <div class="col s6">This div is 6-columns wide</div>
  </div>
</div> -->

<!-- <div class="gmMainContainer">
  <div class="searchGM">
    <div class="searchContainer">
      <input id="query" placeholder="Search..." class="gmQuery" type="text"/><button id="search-button" class="gmMainSearchButton" onclick="keyWordsearch()">Search</button>
    </div>
  </div>
  <div class="gmVideoHolder">
  </div>
  <div class="gmVideoOptions">
  </div>
</div> -->

<!-- <div class="card-panel hoverable"> Hoverable Card Panel</div> -->

<!-- <div class="rightSideContainer">
  <ul id="results" class="gmResults"></ul>
</div> -->

<!--
<div id="container">
   <h1>Search Results</h1>
 </div> -->


<!-- <ul id="results"></ul> -->


<!-- <ul id="html5"></ul> -->


<!-- <form method="post">
    <input id="input" type="text" name="video" autocomplete="off">
    <input id="format" type="hidden" name="format" value="mp3">
    <input id="button" type="submit" value="Convert">
   </form> -->


   <!-- <div id="banner-wrapper" style="display: block;">
      <a href="ya/" rel="nofollow" target="_blank">Download</a>
     </div> -->
